

.card--produtos {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0 rgba(50,50,50, 0.22);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 400px;
    transition: all 0.3s ease-out;
    position: relative;
    border: 3px solid #3bb54a;
    /* testes */
    top: 0;
    left: 0;
    background-color: white;
    ;
}
.card--produtos:hover{
  background-color: #FFCD0D;
  opacity: 1;
  transition: 1.8s
}

.card--produtos button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    position:absolute;
    top: 400px;
    background-color: #FFCD0D;
    height: 30px;
    padding: 0px;
    width: 200px;
    color: rgb(2, 2, 2);
    font-size: 1rem;
    font-weight:bold;
    transition: all 0.3s ease-out;
    border-radius: 5px;
    font-family:'krop 2';
}

.row{
  
  display: flex;
  align-items:center;
  justify-content: center;
  flex-wrap: wrap;
  
}




.card--produtos button:hover {
    cursor: pointer;
  } 

.card--produtos:hover{
    transform:translateY(-5px);

}
.card--produtos p{
    color: rgb(26, 210, 10);
    font-size: 0.8rem;
}
.card--produtos--imagem {
    float: right;
    width: 200px;
    height:250px; 
}


.card_titulo {
    white-space: normal;
    text-align: center;
  }



hr {
    width: 100%;
    height: 1px;
    border: 1px solid black;
    color: black;
    background-color: transparent;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
  }