* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.column {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 10px 30px;
}
  
.row {
    padding: 8%;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
.card {
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: rgba(255, 207, 13, 0.419);
}

.card img {
    display: flex;
    justify-content: flex-start;
    width: 30%;
}

.card p {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.mesas input {
    position: absolute;
    top: 500px;
    right: 250px;
    width: 10%;
    height: 10%;
    font-size: large;
}

.mesas-css-posicao {
    position: absolute;
    right: 250px;
    top: 150px;
    font-size: x-large;
}

.mesas label {
    position: absolute;
    right: 70px;
}

#form-mesas {
    position: absolute;
    top: 60px;
    left: -30px;
}

.column2 {
    position: absolute;
    top: 500px;
    width: 500px;
    padding: 10px 30px;
}
  
.row2 {
    padding: 8%;
}
  
.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: rgba(255, 207, 13, 0.419);
}

#p-total {
    position: absolute;
    left: 100px;
    top: 20px;
}

#p-dinheiro {
    position: absolute;
    right: 100px;
    top: 20px;
}