/* Número da mesa */
.numero-mesa-externo {
  box-shadow: -2px 3px 20px 2px rgba(0, 0, 0, 0.74);
  position: fixed;
  margin-left: 90vw;
  padding: 10px;
  background-color: #ffcd0d;
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  top: 100px;
  z-index: 999;
  text-align: center;
}

select {
  /* Tirando o padrão do select */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 6rem;
  padding: 1rem 4rem 1rem 1rem;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
      no-repeat right 0.8em center / 1.2em,
    linear-gradient(
      to left,
      rgba(255, 255, 255, 0.3) 3em,
      rgba(255, 255, 255, 0.2) 3em
    );
  color: #333;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.mascote--carrinho {
  position: absolute;
  z-index: -4;
  top: 30px;
  left: 50vw;
}



/* Seção do carrinho */
.row--carrinho {
  margin-top: 0.9vw;
  height: 600px;
  width: 450px;
  overflow-y: scroll;
  display: grid;
  grid-gap: 5px;
  margin-right: 550px;
}

/* cards do carrinho */

.card--produtos--carrinho {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  width: 350px;
  height: 100px;
  transition: all 0.3s ease-out;
  position: relative;
  border: 3px solid #3bb54a;
  z-index: 1;
}

.card--produtos--carrinho:hover {
  transition: 1.8s;
}

.card--produtos--carrinho button {
  text-align: center;
  bottom: 20px;
  background-color: #ffcd0d;
  height: 30px;
  color: rgb(2, 2, 2);
  font-size: 1rem;
  transition: all 0.3s ease-out;
  border-radius: 5px;
  font-family: "krop 2";
}

.card--produtos--carrinho button:hover {
  cursor: pointer;
}

.card--produtos--carrinho:hover {
  transform: translateY(-5px);
}

.input--personalizado {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
}

.card--produtos--carrinho--imagem {
  float: none;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: 5px;
}

.card_titulo {
  margin-left: 110px;
  white-space: nowrap;
  position: absolute;
}

.card--produtos--carrinho .preco {
  margin-top: auto;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
}

.card--produtos--carrinho .quantidade {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.card--produtos--carrinho .quantidade button {
  width: 30px;
  height: 30px;
  font-size: 16px;
  transition: all 0.3s ease-out;
}
.card--produtos--carrinho .quantidade button:hover {
  background-color: #333;
  color: #ffcd0d;
}

/* input personalizado */
.card--produtos--carrinho .quantidade input {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: center;
  appearance: none;
  width: 40px;
  padding: 5px;
}

.card--produtos--carrinho .quantidade input::-webkit-inner-spin-button,
.card--produtos--carrinho .quantidade input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card--produtos--carrinho .quantidade input::-moz-inner-spin-button,
.card--produtos--carrinho .quantidade input::-moz-outer-spin-button {
  -moz-appearance: none;
  margin: 0;
}

.card--produtos--carrinho .remover {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff0d0d;
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 10px;
  transition: all 0.3s ease-out;
}

.card--produtos--carrinho .remover:hover {
  cursor: pointer;
  background-color: #333;
  color: #ffcd0d;
}

/* Resumo do carrinho */

.resumo {
  box-shadow: -2px 3px 20px 2px rgba(0, 0, 0, 0.74);
  border: #333 2px solid;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 30px;
  padding: 15px;
  background-color: #ffcd0d;
  border-radius: 5px;
  color: #333;
}

.resumo .total-valor {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
}

.botao-checkout {
  background-color: #333;
  color: #ffcd0d;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  transition: all 0.3s ease-out;
}

.botao-checkout:hover {
  cursor: pointer;
  background-color: #5aff0d;
  color: #333;
}
