* {
  margin: 0;
  padding: 0;
}

/* fonte  */
@font-face {
  font-family: "krop 2";
  src: url("misc/fontes/KROP2-BF653c20fc2157e.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* altura de todas as páginas e fonte */
body {
  padding-top: 8vh;
  background-color: #8a2be2;
  font-family: "krop 2", Times, serif;
  overflow-x: hidden;
}

/* efeito suave no scroll */
html {
  scroll-behavior: smooth;
}

/* o elemento root deixa tudo disponivel globalmente, entao se alterar a cor vai mudar tudo que tem,
a VAR(GRADIENT E A REVERSE-GRADIENTE) */
:root {
  --gradient: linear-gradient(
    180deg,
    rgb(138, 43, 226),
    rgb(241, 205, 2),
    rgba(255, 124, 2, 0.767)
  );
}

:root {
  --reverse-gradient: linear-gradient(
    180deg,
    rgba(255, 124, 2, 0.767),
    rgb(241, 205, 2),
    rgba(255, 124, 2, 0.767)
  );
}

/* Tamanho dos fundos do topo das páginas */
.tacos--secao,
.Bebidas--pag,
.sobremesas--pag {
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -5px center;
  overflow-x: hidden;
  object-fit: cover;
}

/* imagens dos fundos */
.tacos--secao {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 70%,
      rgb(138, 43, 226)
    ),
    url("misc/imagens_fundo/comida-mexicana-1664393072089_v2_4x3.jpg");
}

.sobremesas--pag {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 70%,
      rgb(138, 43, 226)
    ),
    url("https://img.freepik.com/free-vector/hand-drawn-brazilian-carnival-pattern_23-2148402139.jpg?t=st=1709421434~exp=1709425034~hmac=4aa3dad9b28b296f5a45bded15f5e0d8f6c3bc8aa5c320cc174565ce99b97ee3&w=740");
}

.Bebidas--pag {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 70%,
      rgb(137, 43, 226)
    ),
    url("misc/imagens_fundo/fundo_florido1.png");
}

/* partes de baixo do site */
.burritos--secao,
.Experimente--secoes,
.nao-alcoolicas--pag,
.cervejas--pag {
  overflow-x: hidden;
  width: 100vw;
}

.burritos--secao {
  background-image: var(--gradient);
}

.Experimente--secoes {
  background-image: url("misc/imagens_fundo/imagenFundo-tranparente.png");
}

.nao-alcoolicas--pag {
  background-image: linear-gradient(
      180deg,
      rgb(137, 43, 226) 5vh,
      rgba(0, 0, 0, 0.8) 95vh,
      rgba(137, 43, 226, 0.678)
    ),
    url("misc/imagens_fundo/caveira-roxa.jpg");
}

.cervejas--pag {
  background-image: linear-gradient(
    180deg,
    rgba(137, 43, 226, 0.788) 5vh,
    rgba(0, 0, 0, 0.8) 50vh,
    rgb(137, 43, 226)
  );
}

/* titulos das seções */

.titulo--secoes {
  color: #ffcd0d;
  font-weight: bold;
  text-align: center;
  padding: 40px;
  font-size: 50px;
}

/* scroll bar modificada */

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffcd0d;
}

*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid #ffcd0d;
}
