* {
  margin: 0;
  padding: 0;
}

/* sete de cards produtos */
body{
    padding-top: 8vh;
    justify-content: start;
    align-items: center;
    background-color: blueviolet;
    font-family: 'krop 2', Times, serif;
    gap: 16px;
    overflow: auto;
    width: 100%;
    margin: 0;
}



.tacos--secao{
  background-color: green;
}
.burritos--secao{
  background-color: red;
}
.Experimente--secoes{
  background-color: blue;
}

  /* fonte  */
  @font-face {
    font-family:'krop 2';
    src: url('Programacao/fontes/KROP2-BF653c20fc2157e.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  

