* {
    margin: 0;
    padding: 0;
}

.main-content {
    /* para deixar o footer lá em baixo */
    padding-bottom: 125vh;
  }

.nav-bar a {
    color: black;
    text-decoration: none;
    font-weight: 650;
    transition: 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-list a:hover {
    opacity: 0.10;
}

.nav-list a:active {
    opacity: 0.10;
}

.logo img {
    margin-top: 5px;
    width: 50px;
}

.nav-bar nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #FFCD0D;
    height: 8vh;
    position: fixed;  
    top: 0; 
    width: 100%;    
    z-index: 99999;   
  }

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.cart-icon {
    display: flex;
    margin-left: 9vh;
    width: 30px;
    height: 30px;
}

body {
    padding-top: 8vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
  }

.card {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    margin: 10px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;

  }
  
  /* style pratos do dia = joao */
  .row{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.cards{
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0 rgba(50,50,50, 0.22);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 20px;
    width: 200px;
    transition: all 0.3s ease-out;
    

}


.cards button{
    background-color: #FFCD0D;
    height: 30px;
    border: none;
    padding: 6px;
    width: 100%;
    color: rgb(2, 2, 2);
    font-size: 1rem;
    font-weight:bold;
    cursor:pointer;
    transition: all 0.3s ease-out;
    
}
.cards:hover{
    transform:translateY(-5px);
    cursor:pointer;
    
}
.cards p{
    color: rgb(26, 210, 10);
    font-size: 16px;
}
.imagens{
    float: right;
    width: 200px;
    height:200px;
    
}
.green{
    border-left: 3px solid #3bb54a ;
    border-top: 3px solid #3bb54a ;
    border-right: 3px solid #3bb54a;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

  /* final pratos do dia = joao */


.conteiner pratos_1{
    display: flex;
    background-color: #FFCD0D;
}


section .main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 5px;
    margin-bottom: 120px;
}

section .main .menu_text h1 {
    font-size: 60px;
    position: relative;
}

section .main .menu_text h2 {
    font-size: 25px;
    top: 30px;
    position: relative;
    font-family: mv boli;
}

section .main .menu_text h1 span {
    margin-left: 10px;
    color: #fac031;
    font-family: mv boli;
    line-height: 22px;
    font-size: 4vw;
    top: 10vh; 
}

section .main .main_image img {
    width: 43vh;
    position: relative;
    left: 25px;
}


section .main_image img {
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
} 


/*
    variaveis do prato do dia abaixo 
    */

.item_pratos_principais{
    display: flex;
    min-width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-color: #dddd;
    display: flex;
    border: 1px solid rgba(0, 30, 255, 0.046);
    border-radius: 8px;
    margin: 15px;
    padding: 40px;
    width: 200px;
    height:200px;
    text-align: center;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.item_pratos_principais h1{
    font-size: 1.2rem;

}
.item_pratos_principais h2{
    font-size: .9rem;
    color: #aaaa;
}
.item_pratos_principais button{
    
    background-color: red;
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 30px;
}
.Media-scroller{
    max-height: 400px;
    border: 1px solid #c9a400;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}






.conteiner-promocoes-do-dia-1 {
    position: absolute;
    left: 600px;
    top: 200%;
}
  
.row2 {
    padding: 8%;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
.card2 {
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: rgba(255, 207, 13, 0.419);
}

.card2 img {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    width: 20%;
}

.card2 p {
    padding: 55px;
}

.card2 button {
    padding: 20px;
    border-radius: 10%;
    background-color: #54eb08dd;
}

.conteiner-promocoes-do-dia-2 {
    position: absolute;
    left: 5%;
}

.column3 {
    float: left;
    width: 50%;
    padding: 0 10px;
}
  
.row3 {margin: 0 -5px;}
  
.row3:after {
    content: "";
    display: table;
    clear: both;
}
  
.card3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: rgba(255, 207, 13, 0.419);
}
  
@media screen and (max-width: 600px) {
    .column3 {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  footer {
    background-color: #FFCD0D;
    color: #000;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
  }
  
  .footer-logo img{
    width: 100px;
    margin-bottom: 20px;
  }
  
  .footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-links li {
    display: block;
  }
  
  .footer-links a {
    color: #000;
    text-decoration: none;
  }
  
  .footer-social-media {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .footer a:hover {
    opacity: 0.5;
  }
  
  .footer-social-media li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-social-media a {
    color: #000;
    text-decoration: none;
    border-radius: 50%;
    padding: 5px 10px;
  }
  
  .footer-copyright {
    text-align: center;
  }