* {
    margin: 0;
    padding: 0;
}

.main-content {
    /* para deixar o footer lá em baixo */
    padding-bottom: 125vh;
  }


body {
    padding-top: 8vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
  }

.card {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    margin: 10px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;

  }



.imagens{
    float: right;
    width: 200px;
    height:200px;
    
}



  /* final pratos do dia = joao */




section .main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 5px;
    margin-bottom: 120px;
}

section .main .menu_text h1 {
    font-size: 60px;
    position: relative;
}

section .main .menu_text h2 {
    font-size: 25px;
    top: 30px;
    position: relative;
}

section .main .menu_text h1 span {
    margin-left: 10px;
    color: #fac031;
    line-height: 22px;
    font-size: 4vw;
    top: 10vh; 
}

section .main .main_image img {
    width: 43vh;
    position: relative;
    left: 25px;
}


section .main_image img {
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
} 


.conteiner-promocoes-do-dia-1 {
    position: absolute;
    left: 600px;
}
  
.row2 {
    padding: 8%;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
.card2 {
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: rgba(255, 207, 13, 0.419);
}

.card2 img {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    width: 20%;
}

.card2 p {
    padding: 55px;
}

.card2 button {
    padding: 20px;
    border-radius: 10%;
    background-color: #54eb08dd;
}

.conteiner-promocoes-do-dia-2 {
    position: absolute;
    left: 5%;
    padding-top: 50px;
}

.column3 {
    float: left;
    width: 50%;
    padding: 0 10px;
}
  
.row3 {margin: 0 -5px;}
  
.row3:after {
    content: "";
    display: table;
    clear: both;
}
  
.card3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: rgba(255, 207, 13, 0.419);
}
  
@media screen and (max-width: 600px) {
    .column3 {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

