.row {
    display: flex;
    flex-wrap: wrap;
  }

.card {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    margin: 10px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;

  }



.imagens{
    float: right;
    width: 200px;
    height:200px;
    
}



  /* final pratos do dia = joao */




section .main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 5px;
    margin-bottom: 120px;
}

section .main .menu_text h1 {
    font-size: 60px;
    position: relative;
}

section .main .menu_text h2 {
    font-size: 25px;
    top: 30px;
    position: relative;
}

section .main .menu_text h1 span {
    margin-left: 10px;
    color: #fac031;
    line-height: 22px;
    font-size: 4vw;
    top: 10vh; 
}

section .main .main_image img {
    width: 43vh;
    position: relative;
    left: 25px;
}


section .main_image img {
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
} 





@media screen and (max-width: 600px) {
    .column3 {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

