
/* sete de cabecalho */
* {
    margin: 0;
    padding: 0;
}
.nav-bar a {
    color: black;
    text-decoration: none;
    font-weight: 650;
    transition: 0.3s;
    font-family: "KROP 2";
}
.logo img {
    margin-top: 5px;
    width: 50px;
}

.nav-bar nav {
    z-index: 9999;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #FFCD0D;
    height: 8vh;
    position: fixed;  
    top: 0; 
    width: 100%;      
  }

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.cart-icon {
    display: flex;
    margin-left: 9vh;
    width: 30px;
    height: 30px;
}
header{
    font-family: 'krop 2', Times, serif;
}
/* sete de cabeçalho */

/* sete de cards produtos */
body{
    display: flex;
    justify-content: start;
    align-items: center;
    /* height: 100vh; */
    font-family: 'krop 2', Times, serif;
    gap: 16px;
    overflow: auto;
    width: 100%;
    margin: 0;
    
    

}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}

.card{
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0 rgba(50,50,50, 0.22);
    background-color: rgb(205, 219, 7);
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 400px;
    transition: all 0.3s ease-out;
    position: relative;
    

}


.card button{
    
    
    background-color: #FFCD0D;
    height: 30px;
    border: none;
    padding: 0px;
    width: 100%;
    color: rgb(2, 2, 2);
    font-size: 1rem;
    font-weight:bold;
    cursor:pointer;
    transition: all 0.3s ease-out;
    transform:translateY(-5px);

    
}
.card:hover{
    transform:translateY(-5px);

}
.card p{
    color: rgb(26, 210, 10);
    font-size: 0.8rem;
}
.image{
    float: right;
    width: 200px;
    height:250px;
    
}
.green{
    border-left: 3px solid #3bb54a ;
    border-top: 3px solid #3bb54a ;
    border-right: 3px solid #3bb54a;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


  /* fonte  */
  @font-face {
    font-family:'krop 2';
    src: url('Programacao/fontes/KROP2-BF653c20fc2157e.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  

