
/* sete de cabecalho */
* {
    margin: 0;
    padding: 0;
}


/* sete de cards produtos */
body{
    display: flex;
    /* /* justify-content: center; */
    align-items: center;
    height: 100vh;
    font-family: "KROP 2";
    gap: 16px;
    background-image: url('teste');
    height: 100%;
    overflow: auto;
    width: 100%;
    margin: 0;
    overflow-x: hidden;

}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.card{
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0 rgba(50,50,50, 0.22);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 20px;
    width: 200px;
    transition: all 0.3s ease-out;
    

}


.card button{
    background-color: #FFCD0D;
    height: 30px;
    border: none;
    padding: 6px;
    width: 100%;
    color: rgb(2, 2, 2);
    font-size: 1rem;
    font-weight:bold;
    cursor:pointer;
    transition: all 0.3s ease-out;
    
}
.card:hover{
    transform:translateY(-5px);
    cursor:pointer;
    
}
.card p{
    color: rgb(26, 210, 10);
    font-size: 16px;
}
.image{
    float: right;
    width: 200px;
    height:250px;
    
}
.green{
    border-left: 3px solid #3bb54a ;
    border-top: 3px solid #3bb54a ;
    border-right: 3px solid #3bb54a;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

  
  

