

  .slide_conteiner_2 {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 40px 30px;
     overflow-y: hidden; /* Permite rolar horizontalmente e prende à borda mais próxima */
    overflow-x: hidden; /* Adiciona rolagem horizontal */
    align-items: flex-start;
  }

  
  .slide_conteiner_2 > div {
    flex-shrink: 0;
    margin-right: 10px; /* ou qualquer espaçamento desejado entre os itens */
  }
  
